{% extends 'inventory/base_layout.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <h5>
        <i class="material-icons" style="border: 1px solid green; color: white; background-color: green; padding: 10px;
        font-size: 30px; border-radius: 99px; width: 50px; height: 50px;">check</i>
        Password reset link sent
      </h5>
      <div class="divider"></div>
      <div class="card-panel">
        <p>
          <h6><b>Please check your email</b></h6>We've emailed you instructions for resetting your password, if an account exists with the email you entered.
          You should receive them shortly.
        </p>
        <p>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        </p>
      </div>
    </div>
  </div>
{% endblock %}