{% extends 'inventory/base_layout.html' %}

{% block content %}
  <div class="container">
      <div class="row">
           <!--messages-->
           {% if messages %}
            <ul class="messages card-panel red lighten-2 white-text center">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

          <div class="card-panel">
              <p>
                Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login</a> now.
              </p>
          </div>
      </div>
  </div>
{% endblock %}