{% extends 'inventory/base_layout.html' %}

{% block content %}
   <div class="container">

        <!--messages-->
       {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

       <div class="row ">
           <div class="col s12 m8">
               <div class="row card-panel">
                   <div class="row">
                        <h5>Reset Password</h5>
                       <div class="divider"></div>
                    </div>
                   <div class="row">
                       <form action="" method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                           {{ form.as_p }}
                           <input type="submit" class="btn blue darken-3">
                       </form>
                   </div>
               </div>

           </div>
           <div class="col s12 m4">
                <!-- Categories -->
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Categories</div>
                      <div class="collapsible-body">
                        <div class="collection">
                            {% for cat in categories %}
                            <a href="{% url 'posts:category_posts' cat.id %}" class="collection-item">{{ cat.title }}</a>
                            {% endfor %}
                        </div>

                      </div>
                    </li>
                </ul>

               <!-- Latest posts-->
               <div class="divider"></div>
                <div class="">
                    <div class="divider"></div>
                    <h6 class="">Latest Articles</h6>
                    {% for latest in latest_posts %}
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s6 m6">
                          <img src="{{ latest.thumbnail.url }}" width="100%">
                        </div>
                        <div class="col s6 m6">
                            <p style="font-size: 13px;"><a href="{% url 'posts:post_details' latest.id %}">{{ latest.title }}</a></p>
                        </div>
                    </div>
                    {% endfor %}


                </div>
           </div>
       </div>
   </div>
{% endblock %}