{% extends 'inventory/base_layout.html' %}

{% block content %}
  <div class="container">
      <div class="row">
          <h5>Change password</h5>
          <div class="card-panel">
              {% if validlink %}
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Change password" class="btn btn-small blue darken-3">
                </form>
              {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
              {% endif %}
          </div>
      </div>
  </div>
{% endblock %}