{% extends 'inventory/base_layout.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
    <div class="">
        <h6 style="text-transform: uppercase;">
            {{ title }}
        </h6>
        <nav class="blue lighten-5">
            <ul>
                <li>
                    <a href="{% url 'inventory:add_customer' %}" class="btn btn-small blue darken-3"><i class="material-icons">add</i></a>
                </li>
            </ul>
        </nav>
        <div class="divider"></div>

        <div class="">
            <!--messages-->
           {% if messages %}
            <div class="card col s12">
                <ul class="messages green-text">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="row">

        <div class="col s12">
            <table class="responsive-table highlight" id="customers_table">
                <thead>
                      <tr>
                          <th>Name</th>
                          <th>Mobile</th>
                          <th>Email Address</th>
                          <th>Location</th>
                          <th><b>Action</b></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for customer in all_customers %}
                    <tr>
                        <td><a href="{% url 'inventory:customer_details' customer.id %}">{{ customer.client_name }}</a></td>
                        <td>{{ customer.mobile_number }}</td>
                        <td>{{ customer.email_address }}</td>
                        <td>{{ customer.location }}</td>
                        <td>
                            {% if perms.inventory.change_product %}
                            <a href="{% url 'inventory:edit_customer' customer.id %}" class="waves-effect waves-light "><i class="material-icons" style="color: navy;">edit</i></a>
                            {% endif %}
                            {% if perms.inventory.delete_product %}
                            <a href="{% url 'inventory:delete_customer' customer.id %}" class="waves-effect waves-light confirm-delete"><i class="material-icons" style="color: red;">delete</i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
        <!--<div class="col s12 m5">
            <div class="add_customer">
                <ul class="collapsible">
                    <li>
                      <div class="collapsible-header"><span class=" btn btn-small blue darken-3"><i class="material-icons">add</i></span> Add Customer</div>
                      <div class="collapsible-body">
                           <form action="" method="POST">
                                {% csrf_token %}
                                {{ customer_form }}
                                <input type="submit" value="Save" class="btn btn-small blue darken-3">
                            </form>
                      </div>
                    </li>
                </ul>
            </div>
        </div>-->
    </div>
{% endblock %}
